.mypacifico{
    font-family: 'Pacifico', cursive;

}

h1{
    font-weight:bold;
    font-size:100px;
    font-style: italic;
    color:darkslateblue;

}

.centered {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:100px;
}

.bottom-right{
    position: absolute;
    bottom: 5%;
    right: 5%;

}
