<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<form  th:action="@{/processbook}" th:object="${book}" method="post">
    <tr>

        <td>  <input type="hidden" th:field="*{id}"/></td>
        <td><span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span><br/>
            <input type="text" th:field="*{title}" />
        </td>




    </tr>


    <input type="submit" value="add book"/>
</form>
</body>
</html>