<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<form  th:action="@{/processbook}" th:object="${book}" method="post">
    <tr>

        <input type="hidden" th:field="*{id}"/>

        <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span><br/>
        <input type="text" th:field="*{title}" />

        <span th:if="${#fields.hasErrors('status')}" th:errors="*{status}"></span><br/>
        <input type="text" th:field="*{status}" />


    </tr>


    <input type="submit" value="add book"/>
</form>
</body>
</html>