<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Pacifico" />
    <link rel="stylesheet" href="./css/stylesheet.css" />


</head>
<body>
<table>
    <b>book Inventory </b>

    <tr>
        <td>title</td>
        <td>Author</td>
        <td>publish year</td>
        <td>ISBN</td>
        <td>Image</td>
        <td>Availability</td>
    </tr>
    <tr th:each="book :${books}">
        <td th:text ="${book.title}"> </td>
        <td th:text ="${book.author}"> </td>
        <td th:text ="${book.yearofPublication}"> </td>
        <td th:text ="${book.isbn}"> </td>
        <td th:text ="${book.image}"> </td>
         <td  th:if="${book.status}">
                <th>Available</th></td>
        <td th:unless="${book.status}">
                <th>Not Available</th></td>
    </tr>
</table>
<a href="/">Go to home page</a>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>