<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<table>
    <tr><b>book Inventory : </b></tr>
    <tr>

        <td>title</td>
        <td>Author</td>
        <td>publish year</td>
        <td>ISBN</td>
        <td>Image</td>

        <td>action</td>
    </tr>

    <tr th:each="book :${books}">
        <td th:text ="${book.title}"> </td>
        <td th:text ="${book.author}"> </td>
        <td th:text ="${book.yearofPublication}"> </td>
        <td th:text ="${book.isbn}"> </td>
        <td th:text ="${book.image}"> </td>
        <td th:text ="${book.status}"> </td>
        <td  th:if="${book.status}">
            <a th:href ="@{/borrow/{id}(id=${book.id})}">borrow </a></td>

        <td th:unless="${book.status}">
            <th>borrowed</th>
        </td>
    </tr>
</table>
<a href="/">Go to home page</a>

</body>
</html>