<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<table>
    <tr><b>book Inventory : </b></tr>
    <tr>

        <th>title</th>
        <th>availability</th>
        <th>action</th>
    </tr>

    <tr th:each="book :${books}">
        <td th:text ="${book.title}"> </td>
        <td th:text ="${book.status}"> </td>
        <td  th:if="${book.status}">
            <th>returned</th>

        <td th:unless="${book.status}">
            <a th:href ="@{/return/{id}(id=${book.id})}">return </a></td>

        </td>
    </tr>
</table>
<a href="/">Go to home page</a>

</body>
</html>